<!DOCTYPE html>
<html>
<head>
    <title>Twitter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<form method="POST" action="" >
    <center>
    <H1>Twitter search</H1>
    <label for="name">Enter your sentence here:</label>
    <input type="text" name="sentence"/> <br>
    <input type="submit" name="submit"/> <br>
    </center>
</form>

<center>
    <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th> TWEETS </th>
            </tr>
        </thead>
        <tbody>
        {{ tweets|safe }}
        </tbody>
    </table>
</center>

</body>
</html>