<!DOCTYPE html>
<html>
<head>
	<title>Twitter</title>
</head>
<body>
<form method="POST" action="" >
    <center>
    <H1>Twitter search</H1>
    <label for="name">Enter your sentence here:</label>
    <input type="text" name="form_type" value="recommendations"/> <br>
    <input type="submit" name="submit"/> <br>
    </center>
</form>

<center>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th> Tweets result </th>
            </tr>
        </thead>
        <tbody>
        {{ tweets|safe }}
        </tbody>
    </table>
</center>

</body>
</html>